.omgwtf {
background: #5433FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
}

.container {

	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;

	grid-template-columns:repeat(4,100px);
	grid-template-rows: minmax(120px, auto), repeat(5,100px);
}

.element{
	cursor: pointer;
	font-size: 2rem;
	height: 100px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	border: 1px solid white;
	align-items: center;
	outline: none;
	background: rgba(255,255,255,.75)
}
.element:hover {
	background: rgba(255,255,255,.9)
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1/-1;
	background: rgba(0,0,0,.75);
	height: 100px;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;

	display: flex;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .prev {
	color: rgba(255,255,255,.75);
	font-size: 1.5rem;
}

.output .current {
	color: white;
	font-size: 2.5rem;
}